{% extends 'base.html' %}
{%load static%}
    {% block title %}Login{% endblock %}
    {% block css %}

    <style>
            body{
                background-image: url("{% static 'images/signin1.jpg'%}");
                
            }
    </style>
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    {%endblock%}
    {% block content %}
    {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info">
             <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
                 </span>
            </div>
            {% endfor %}

        {% endif %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container form_container ">
             <div class="row px-2 my-4">
                 
           <img src="{% static 'images/logo.jpeg'%} " class=" img-fluid mx-auto d-block" alt="Logo">
           </div>
            <div class="row ">
                <div class="col-md-6 offset-md-3">    
                    <form method="POST">
                        {% csrf_token %}
                        {% include 'include/render_forms.html' with form=form %}
                        <button type="Submit" class="btn btn-outline-primary" id="login">Login</button>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}