{% extends 'base.html' %}
{% block title %}
password reset success
{% endblock %}


{% block css%}
{% load static%}

<style>
                html{
                    height: 100%;
                }
                    body{
                        background-image: url("{% static 'images/login8.jpg'%}") ;
                        height: 100%;
                        
                        background-size:100% 100vh;
                        background-repeat: no-repeat;
                        -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                    }
            </style>

{% endblock%}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row justify-content-center">


            <div class="d-inline-flex p-2 ">
                    <div class="alert alert-dismissible alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Password has been reset successfully</strong>
                            </div>
                    </div>
    </div>
</div>



{% endblock %}