{% extends 'base.html' %}
{%load static%}
    {% block title %}Forgot password{% endblock %}
    {% block css %}
   

    {% load static %}

    
    <style>
            html{
                height: 100%;
            }
                body{
                    background-image: url("{% static 'images/login8.jpg'%}") ;
                    height: 100%;  
                    background-size:100% 100vh;
                    background-repeat: no-repeat;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                }
        
label{
    font-family: 'Song Myung', serif !important;
    font-weight: bold !important;
    color: rgb(83, 236, 224) !important;
    font-size: 20px;
}
div.form-group input{

    font-family: 'Song Myung', serif !important;
    font-weight: bold !important;
    font-size: 20px;
}

.invalid-feedback{
    color:white;
}
    </style>
    {%endblock%}
    {% block content %}
    {% if messages %}
            <div class="alert alert-danger">
             <span>{{ message }}</span>
            </div>

        {% endif %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container form_container ">
             <div class="row px-2 my-4">
                 
           <img src="{% static 'images/logo_header.png'%} " class=" img-fluid mx-auto d-block" alt="Logo">
           </div>
            <div class="row ">
                <div class="col-md-6 offset-md-3">    
                    <form method="POST">
                        {% csrf_token %}
                        {% include 'include/render_forms.html' with form=form %}
                        <button type="Submit" class="btn btn-info btn-lg">reset</button>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}