{% extends 'base.html' %}
{%load static%}
    {% block title %}Forgot password{% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    {%endblock%}
    {% block content %}
    {% if messages %}
            <div class="alert alert-danger">
             <span>{{ message }}</span>
            </div>

        {% endif %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container form_container ">
             <div class="row px-2 my-4">
                 
           <img src="{% static 'images/logo.jpeg'%} " class=" img-fluid mx-auto d-block" alt="Logo">
           </div>
            <div class="row ">
                <div class="col-md-6 offset-md-3">    
                    <form method="POST">
                        {% csrf_token %}
                        {% include 'include/render_forms.html' with form=form %}
                        <button type="Submit" class="btn btn-outline-primary">reset</button>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}