#class-sel{

	font-family: 'Song Myung', serif;
	font-weight: bold;
	 text-align:center;
	 font-size: 18px;
}
#subject-sel{
	font-family: 'Song Myung', serif;
	font-weight: bold;
	 text-align:center;
	 font-size: 18px;
	 
}
.selector{
	font-family: 'Song Myung', serif;
	font-weight: bold;
}