.form_container{
    padding: 100px 50px;
}
select{
    width: 200px !important;
}
#id_image{
    height: auto !important;
}

label{
    font-family: 'Song Myung', serif;
    font-weight: bold;
    font-size: 20px;

    
}
.custom-select{
    font-family: 'Crete Round', serif;
    font-weight: bold;
   
  
}