label{
    font-family: 'Song Myung', serif;
    font-weight: bold;
    font-size: 20px;
}

#id_ch_name{

    font-family: 'Song Myung', serif;
    font-weight: bold;
    font-size:20px;
    text-align: center;
    width:300px;
}

#id_grade {

    font-family: 'Song Myung', serif;
    font-weight: bold;
    font-size:20px;
    width:100px;
    text-align: center;
}


#id_subject{

    font-family: 'Song Myung', serif;
    font-weight: bold;
    font-size:20px;
    width:150px;
    text-align: center;
}

