<!DOCTYPE html>
<html>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <head>
    <style>
   .ui-widget-header,.ui-state-default, ui-button {
            background:#b9cd2d;
            border: 10px solid #a9cd6d;
            color: #F22FFF;
            font-weight: bold;
            width: 800px;
         }
      </style>

    </head>
    <body>
        <h2>{% block heading %}
            {% endblock %}
        </h2>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
            {% block scripts %}
            {% endblock %}
    </body>
</html>