{% extends 'base.html' %}
{% block title %}generate test{% endblock %}
{% block heading %}generate test{% endblock %}
{% block content %}






    <div class="form" id="test_details_form">
        {% csrf_token %}
        {{ test_details_form.as_p }}
        <button id = "fetch" >submit</button>
    </div>


<div id = "dialog-1" 
         title = "Dialog Title goes here...">add questions
    <table style="width:100%" id= "table1">
     <tr >
    <th>Chapter name</th>
    <th>easy questions</th>
    <th>medium questions</th>
    <th>tough questions</th>
  </tr>
  
 <div id="content"></div>
</table> 
  <button id = "submit">Submit</button>

{% endblock %}
{% block scripts %}
{% load static %}
<script src="{% static 'js/chained_dropdown.js' %}"></script>
<script>
var newdata    
var q_type

     $(function() {
         $("#fetch").click(function(){
             q_type="mcq";
             fetch_chapters("mcq")
             });
    function fetch_chapters(q_type){
        grade_id = $("#id_grade").val()
        subject_id = $("#id_subject").val()
              $.ajax({
            url: "/app/load_chapters_test",
            data: {
                "grade" : grade_id,
                "subject" : subject_id,
                "type"  : q_type
            },
            success: function(data){
                console.log(data);
                newdata=data
                $("#table1").html(
                    `<tr >
                        <th>Chapter name</th>
                        <th>easy questions</th>
                        <th>medium questions</th>
                        <th>tough questions</th>
                    </tr>`
                )
                for (i = 0; i < data.ids.length; i++) {
                    

                  $("#table1").append(` <tr>
                    <td>${data.names[i]}</td>
                    <td>${data.easy[i]} <input type="text" default=0 id="easy${i}"></td>
                    <td>${data.medium[i]} <input type="text" default=0 id="medium${i}"></td>
                    <td>${data.hard[i]} <input type="text" default=0 id="hard${i}"></td>
                    </tr>`);
                    
                    }                        
                    $( "#dialog-1" ).dialog( "open" );



            }
        });
    }
      
      $("#submit").click(function(){
          var a=[];
          for (j=0;j<newdata.ids.length;j++){
              var easy = $("#easy"+j).val();
              console.log("#easy"+j);
              var medium = $("#medium"+j).val();
              var hard = $("#hard"+j).val();

             if (easy==null || easy=="" || medium==null || medium==""|| hard==null || hard=="")
        {
            alert("Please Fill All Required Field");
            return false;
        }

              if(easy%1!=0 ||  easy<0 || easy>newdata.easy[j]){
              alert("Enter proper data in 1");
              return;
              }
              if(medium%1!=0|| medium<0 || medium>newdata.medium[j]){
              alert("Enter proper data in 2");
              return;
              }
              
              if(hard%1!=0 || hard<0 || hard>newdata.hard[j]){
              alert("Enter proper data in 3");
              return;
              }
              var obj={
                  "id":newdata.ids[j],
                  "easy":easy,
                  "medium":medium,
                  "hard":hard
              };
              a.push(JSON.stringify(obj));

          }
           $.ajax({
            url: "/app/random_questions",
            data: {
                "chapters_list":a,
                "type":q_type
            },
            success: function(data){
                console.log(data);

            }
        });


      });


            $( "#dialog-1" ).dialog({
               autoOpen: false, height:1000,width:1000 
            });
            $( "#opener" ).click(function() {
               $( "#dialog-1" ).dialog( "open" );
            });
        

          $("#add").click(function(){
          	console.log("hello");
    $("#table1").append(` <tr>
    <td>khan</td>
    <td>Sth</td>
    <td>50</td>
  </tr>`);
});
});
    

</script>
{% endblock %}
