{% extends 'base.html' %}
{% block title %}generate test{% endblock %}

{% block css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css".3.0/j />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/generate_test.css' %}">
{% endblock %}


{% block content %}
<div class="main">
<div class="container_fluid form_container">

    <div class="row">
        <div class="col-md-10">
            <p class="school">{{school.school_name}}</p>
        </div>
        <div class="col-md-2">
            <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" id="hide_ans" class="form-check-input" value="">Hide Answers
                </label>
              </div>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="input-group">                
                <textarea class="form-control" aria-label="With textarea" placeholder="Instruction"></textarea>
            </div>
    
        </div>
    </div>
    
            
    <div class="row justify-content-center mt-2">
        <div class="col-md-3 ">
            <div class="class">  
                <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Grade</label>
                        </div>
                        <select class="custom-select" id="class-sel"></select>
                </div> 
            </div>
        </div>
    </div>
             


    <div class="row align-items-center">
        <div class="col-md-4">
                
                <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Time</span>
                        </div>
                        <input type="text" class="form-control" placeholder="eg:3hrs" aria-label="Username" aria-describedby="basic-addon1" >
                      </div>  
                        
                        
                    
        </div>
                                               
        
        <div class="col-md-4">
                <div class="input-group mb-3 ">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="subject-sel">Subject</label>
                            </div>
                            <select class="custom-select" id="subject-sel"></select>
                    </div> 
        </div>
     

        <div class="col-md-4">
                <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">date</span>
                        </div>
                        <input type="text" id="date_ex" class="form-control" placeholder="dd/mm/yyyy" aria-label="Username" aria-describedby="basic-addon1">
                      </div> 
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
                <div class="input-group">
                    
                        <textarea class="form-control" aria-label="With textarea" placeholder="Instruction"></textarea>
                      </div>

        </div>

    </div>
        

          

</div>

<div class="d-none popover" id="popover_content">
        <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Type</label>
                </div>
                <select class="custom-select" id="type_select">
                    <option value="mcq">Multiple choice questions</option>
                    <option value="short">Short Answers</option>
                    <option value="long">Long</option>
                    <option value="Tf">True or False</option>
                    <option value="Match">Match the following</option>
                </select>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" id="modal_trigger" data-toggle="modal" data-target="#exampleModal">
                Add
                </button>
        
        </div> 
</div>


<div class= "container-fluid section">
    <div class="row justify-content-start ">

        <div class="col-md-1">
            Section
        </div>

        <div class="col-md-6 offset-md-2">
            <div class="input-group mb-3 ">
                <input type="text" class="form-control" placeholder="Section-Heading">
            </div>
        </div>

        <div class="col-md-2 offset-md-1">
                <a tabindex="0" role="button" class="btn btn-outline-secondary add_popover" data-placement="bottom" data-trigger="focus" data-toggle="popover" data-container="body" data-placement="left" data-html="true">Add Questions</a>        </div>

    </div>

    <div class="row justify-content-center ">
        <div class="col-md-8">
            <div class="input-group">
                <textarea class="form-control" aria-label="With textarea" placeholder="Instruction"></textarea>
            </div>
        </div>
    </div>
    <div class="row justify-content-center ">
            <div class="col-md-12">
                <div class="questions">
                </div>
            </div>
        </div>

</div>

      
<div class= "container-fluid section">
        <div class="row justify-content-start ">
    
            <div class="col-md-1">
                Section
            </div>
    
            <div class="col-md-6 offset-md-2">
                <div class="input-group mb-3 ">
                    <input type="text" class="form-control" placeholder="Section-Heading">
                </div>
            </div>
    
            <div class="col-md-2 offset-md-1">
                    <a tabindex="0" role="button" class="btn btn-outline-secondary add_popover" data-placement="bottom" data-trigger="focus" data-toggle="popover" data-container="body" data-placement="left" data-html="true">Add Questions</a>            </div>
    
        </div>
    
        <div class="row justify-content-center ">
            <div class="col-md-8">
                <div class="input-group">
                    <textarea class="form-control" aria-label="With textarea" placeholder="Instruction"></textarea>
                </div>
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-md-12">
                <div class="questions">
                </div>
            </div>
        </div>

</div>

<div class= "container-fluid section">
        <div class="row justify-content-start ">
    
            <div class="col-md-1">
                Section
            </div>
    
            <div class="col-md-6 offset-md-2">
                <div class="input-group mb-3 ">
                    <input type="text" class="form-control" placeholder="Section-Heading">
                </div>
            </div>
    
            <div class="col-md-2 offset-md-1">
                    <a tabindex="0" role="button" class="btn btn-outline-secondary add_popover" data-placement="bottom" data-trigger="focus" data-toggle="popover" data-container="body" data-placement="left" data-html="true">Add Questions</a>            </div>
    
        </div>
    
        <div class="row justify-content-center ">
            <div class="col-md-8">
                <div class="input-group">
                    <textarea class="form-control" aria-label="With textarea" placeholder="Instruction"></textarea>
                </div>
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-md-12">
                <div class="questions">
                </div>
            </div>
        </div>

    
</div>
    

    

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>

                <div class="modal-body container" id="modal-content">
                    <div class="row justify-content-center">
                        <div class="fa-3x">
                            <i class="fas fa-spinner fa-spin"></i>
                            <i class="fas fa-circle-notch fa-spin"></i>
                            <i class="fas fa-sync fa-spin"></i>
                            <i class="fas fa-cog fa-spin"></i>
                            <i class="fas fa-spinner fa-pulse"></i>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                <button type="button" class="btn btn-secondary"id="add">Add</button>
                </div>

            </div>
        </div>
    </div>
</div>

<button type="button" class = "btn btn-primary" id="add_section">Add Section</button>







<button id="pdf">export to pdf</button>

{% endblock %}




{% block scripts %}
{% load static %}
<script src="{% static 'js/chained_dropdown.js' %}"></script>
<script src="{% static 'js/jquery-ajax-native.js' %}"></script>
<script>
 var newdata    
 var q_type
 var grades
 var section_context

     
    $(function() {
        $.ajax({
            url:"/app/get_all_subjects",
            success:function(data){
                console.log(data);
                grades=data;

                for(i=0;i<grades.length;i++)
                {
                   $("#class-sel").append('<option value="'+grades[i]['id']+'">'+grades[i]['grade']+'</option>')
                }
                for(i=0;i<grades[0]['subjects'].length;i++)
                {
                   $("#subject-sel").append('<option value="'+grades[0]['subjects'][i]["id"]+'">'+grades[0]['subjects'][i]["name"]+'</option>')
                }

            }

        })


        $("#class-sel").change(function(){
            var grade = grades.filter(function( obj ) {
                return obj['grade'] == $("#class-sel").val();
            })[0];
            console.log(grade);
            $("#subject-sel").html('');
            for(i=0;i<grade['subjects'].length;i++)
            {
                $("#subject-sel").append('<option value="'+grade['subjects'][i]["id"]+'">'+grade['subjects'][i]["name"]+'</option>')
            }

        })


                  $( "#date_ex" ).datepicker({
                    dateFormat:"yy-mm-dd"
                  });

                  $("body").popover({
                    html: true, 
                    content: function() {
                            console.log($('#popover_content').html());
                            section_context = $(this);
                            return $('#popover_content').html();
                        },
                    selector: ".add_popover"
                });

                $("#add_section").click(function(){
                    $(".main").append(`
                    <div class= "container-fluid section">
        <div class="row justify-content-start ">
    
            <div class="col-md-1">
                Section
            </div>
    
            <div class="col-md-6 offset-md-2">
                <div class="input-group mb-3 ">
                    <input type="text" class="form-control" placeholder="Section-Heading">
                </div>
            </div>
    
            <div class="col-md-2 offset-md-1">
                <a tabindex="0" role="button" class="btn btn-outline-secondary add_popover" data-placement="bottom" data-trigger="focus" data-toggle="popover" data-container="body" data-placement="left" data-html="true">Add Questions</a> 
            </div>
    
        </div>
    
        <div class="row justify-content-center ">
            <div class="col-md-8">
                <div class="input-group">
                    <textarea class="form-control" aria-label="With textarea" placeholder="Instruction"></textarea>
                </div>
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-md-12">
                <div class="questions">
                </div>
            </div>
        </div>

    
</div>

                    `)

                });

                $("#hide_ans").click(function(){
                    if($(this).is(':checked'))
                    {
                        $(".answer").hide()
                    }
                    else
                    {
                        $(".answer").show()
                    }
                })
                



        $(document).on("click", "#modal_trigger", function(event){
            q_type=$(".popover-body").find("select").val();
            console.log(q_type);
            fetch_chapters()
            $(this).parents(".popover").popover('hide');
            });
            function fetch_chapters(){
                grade_id = $("#class-sel").val()
                
                subject_id = $("#subject-sel").val()
                console.log(grade_id)
                console.log(subject_id)
                console.log(q_type)
                $.ajax({
                    url: "/app/load_chapters_test",
                    data: {
                        "grade" : grade_id,
                        "subject" : subject_id,
                        "type"  : q_type
                    },
                    success: function(data){
                        console.log(data);
                        newdata=data
                        $("#modal-content").html(
                            `<div class="container table-responsive">
                            <table  id= "table1" class="table table-sm">
                                    <tr >
                                        <th>Chapter name</th>
                                        <th>easy questions</th>
                                        <th>medium questions</th>
                                        <th>tough questions</th>
                                    </tr>
                                
                                </table> 
                            </div>
                            `
                        )
                        for (i = 0; i < data.ids.length; i++) {                        
                            $("#table1").append(` <tr>
                                <td>${data.names[i]}</td>
                                <td>${data.easy[i]} <input type="text" default=0 id="easy${i}"></td>
                                <td>${data.medium[i]} <input type="text" default=0 id="medium${i}"></td>
                                <td>${data.hard[i]} <input type="text" default=0 id="hard${i}"></td>
                                </tr>`);
                            
                        }                        
    



                    }
                });
                
        }
      
        $(document).on("click", "#add", function(event){
            var a=[];
            for (j=0;j<newdata.ids.length;j++){
                var easy = $("#easy"+j).val();
                var medium = $("#medium"+j).val();
                var hard = $("#hard"+j).val();

                if (easy==null || easy=="" || medium==null || medium==""|| hard==null || hard=="")
                {
                    alert("Please Fill All Required Field");
                    return;
                }

                if(easy%1!=0 ||  easy<0 || easy>newdata.easy[j])
                {
                alert("Enter proper data in 1");
                return;
                }

                if(medium%1!=0|| medium<0 || medium>newdata.medium[j])
                {
                alert("Enter proper data in 2");
                return;
                }
                
                if(hard%1!=0 || hard<0 || hard>newdata.hard[j])
                {
                alert("Enter proper data in 3");
                return;
                }

                var obj={
                    "id":newdata.ids[j],
                    "easy":easy,
                    "medium":medium,
                    "hard":hard
                };
                a.push(JSON.stringify(obj));

            }
            $('#exampleModal').modal('hide');
            $.ajax({
                url: "/app/random_questions",
                data: {
                    "chapters_list":a,
                    "type":q_type},
                    
                success: function(data){
                    console.log(data);
                    section_context.parents(".section").find(".questions").html(data)

                }   
            });
        });
      
        $("#pdf").click(function(){
            console.log($("#mcq").html());
            console.log($("#paper").html());
            $.ajax({
                dataType: 'native',
                url : "/app/to_pdf",
                data : {"html_data" : $("#mcq").html()},
                xhrFields: {
                    responseType: 'blob'
                },
                success: function(blob){
                    console.log(blob.size);
                    var link=document.createElement('a');
                    link.href=window.URL.createObjectURL(blob);
                    link.download="question_paper_" + new Date() + ".pdf";
                    document.body.appendChild(link);
                    link.click();
                }
            });
        });

   
    });
    

</script>
{% endblock %}
