{% extends 'base.html' %}
{% block title %}generate test{% endblock %}
{% block heading %}generate test{% endblock %}
{% block content %}






    <div class="form" id="test_details_form">
        {% csrf_token %}
        {{ test_details_form.as_p }}
        <button id = "mcq-button" >mcq</button>
    </div>


<div id = "dialog-1" 
         title = "Dialog Title goes here...">add questions
    <table style="width:100%" id= "table1">
     <tr >
    <th>Chapter name</th>
    <th>easy questions</th>
    <th>medium questions</th>
    <th>tough questions</th>
  </tr>
  
</table> 
  <button id = "add">add</button>
</div>
  <div id="paper">
      <div id="mcq">
      </div>
  </div>
  <button id="pdf">export to pdf</button>

{% endblock %}
{% block scripts %}
{% load static %}
<script src="{% static 'js/chained_dropdown.js' %}"></script>
<script src="{% static 'js/jquery-ajax-native.js' %}"></script>
<script>
var newdata    
var q_type

     $(function() {
         $("#mcq-button").click(function(){
             q_type="mcq";
             fetch_chapters("mcq")
             });
    function fetch_chapters(q_type){
        grade_id = $("#id_grade").val()
        subject_id = $("#id_subject").val()
              $.ajax({
            url: "/app/load_chapters_test",
            data: {
                "grade" : grade_id,
                "subject" : subject_id,
                "type"  : q_type
            },
            success: function(data){
                console.log(data);
                newdata=data
                $("#table1").html(
                    `<tr >
                        <th>Chapter name</th>
                        <th>easy questions</th>
                        <th>medium questions</th>
                        <th>tough questions</th>
                    </tr>`
                )
                for (i = 0; i < data.ids.length; i++) {
                    

                  $("#table1").append(` <tr>
                    <td>${data.names[i]}</td>
                    <td>${data.easy[i]} <input type="text" default=0 id="easy${i}"></td>
                    <td>${data.medium[i]} <input type="text" default=0 id="medium${i}"></td>
                    <td>${data.hard[i]} <input type="text" default=0 id="hard${i}"></td>
                    </tr>`);
                    
                    }                        
                    $( "#dialog-1" ).dialog( "open" );



            }
        });
    }
      
      $("#add").click(function(){
          var a=[];
          for (j=0;j<newdata.ids.length;j++){
              var easy = $("#easy"+j).val();
              var medium = $("#medium"+j).val();
              var hard = $("#hard"+j).val();

             if (easy==null || easy=="" || medium==null || medium==""|| hard==null || hard=="")
        {
            alert("Please Fill All Required Field");
            return;
        }

              if(easy%1!=0 ||  easy<0 || easy>newdata.easy[j]){
              alert("Enter proper data in 1");
              return;
              }
              if(medium%1!=0|| medium<0 || medium>newdata.medium[j]){
              alert("Enter proper data in 2");
              return;
              }
              
              if(hard%1!=0 || hard<0 || hard>newdata.hard[j]){
              alert("Enter proper data in 3");
              return;
              }
              var obj={
                  "id":newdata.ids[j],
                  "easy":easy,
                  "medium":medium,
                  "hard":hard
              };
              a.push(JSON.stringify(obj));

          }
           $.ajax({
            url: "/app/random_questions",
            data: {
                "chapters_list":a,
                "type":q_type
            },
            success: function(data){
                console.log(data);
                $("#"+q_type).html(data)
                $("#dialog-1").dialog("close");

            }
        });


      });
      
      $("#pdf").click(function(){
          console.log($("#mcq").html());
          console.log($("#paper").html());
          $.ajax({
                dataType: 'native',
                url : "/app/to_pdf",
                data : {
                  "html_data" : $("#mcq").html()
                },
                xhrFields: {
                    responseType: 'blob'
                },
                success: function(blob){
                    console.log(blob.size);
                    var link=document.createElement('a');
                    link.href=window.URL.createObjectURL(blob);
                    link.download="question_paper_" + new Date() + ".pdf";
                    document.body.appendChild(link);
                    link.click();
                }
          });
      });

            $( "#dialog-1" ).dialog({
               autoOpen: false, height:1000,width:1000 
            });
   
});
    

</script>
{% endblock %}
