{% extends 'base.html' %}
{% block title %}Add questions{% endblock %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/manage_questions.css' %}">
{% endblock %}
{% block content %}
<div class = "container my-5">
    <div class="row justify-content-center  my-4">
    <h2>Add/Edit Questions</h2>
    </div>
    {% if question %}
    <button type="button" class="btn btn-danger delete" id="{{question.id}}" value="delete">delete this question</button>
    {% endif %}
    <form method="POST" action="{{ action }}" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'include/render_forms.html' with form=chapter_form %}
            {% include 'include/render_forms.html' with form=question_form %}
            <div id = "choices">
                {{ choice_formset.as_p }}
            </div>
            <div id = "matches">
                {{ match_formset.as_p }}
            </div>

            <button type="submit" class="btn btn-primary" name="save" value="save">save</button>
            <button type="submit" class="btn btn-primary" name="save_and_add_another" value="save_and_add_another">save and add another</button>
        </form>
</div>


{% endblock %}
{% block scripts %}
{% load static %}
<script src="{% static 'js/chained_dropdown.js' %}"></script>
<script>
    $(function(){
        if($("#id_question_type").val() != "Match"){
            $("#matches").hide()
        }
        if($("#id_question_type").val() != "mcq" && $("#id_question_type").val() != "fb"){
            $("#choices").hide()
        }            
        $("#id_question_type").change(function(){
            if($(this).val() == 'mcq' || $(this).val() == 'fb'){
                $("#choices").show()
            }
            else if($(this).val() == 'Match'){
                $("#matches").show()
            }
            else{
                $("#choices").hide()                
                $("#matches").hide()            
            }
        });
   });
</script>
{% if question %}
<script>
    $(function(){
        $(".delete").click(function(){
            $.ajax({
                url : "/app/delete_question",
                data : {
                    "q_id":$(this).attr('id'),
                },
                success:function(data){
                    if(data.status_code==200){
                        alert("deleted")
                        window.location.replace("/app/view_questions")
                    }
                    else{
                        alert("something went wrong")
                    }
                }
            });
        });
    });
</script>
{% endif %}
{% endblock %}

