{% extends 'base.html' %}
{% block title %}Add chapters{% endblock %}

{% block css%}
{% load static %}

<link rel="stylesheet" href="{% static 'css/manage_chapters.css' %}"
{% endblock %}
{% block content %}

    <br>
    <br>
    <div class="container">
    <div class="row justify-content-center my-5">
        <h3>Add/Update chapters</h3>
        
    </div>

   
    <div class="row justify-content-center">
    <form method="POST" action="{{ action }}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ ch_form.as_p}}
        <button type="submit" class="btn btn-info" name="save" value="save">Save</button>
        <button type="submit" class="btn btn-info" name="save_and_add_another" value="save_and_add_another">Save and Add Another</button>  
        {% if chapter %}
    
                    <button type="button" class="btn btn-danger delete" id="{{chapter.id}}" value="delete">Delete this Chapter</button>
                    {% endif %}
    </form>
    </div>
    </div>

{% endblock %}
{% block scripts %}
<script src="{% static 'js/chained_dropdown.js' %}"></script>
{% if chapter %}
<script src="{% static 'js/ajax_setup.js' %}"></script>
<script>
    $(function(){
        $(".delete").click(function(){
            $.ajax({
                type : "POST",
                url : "{% url 'delete_chapter' %}",
                data : {
                    "ch_id":$(this).attr('id'),
                },
                success:function(data){
                    if(data.status_code==200){
                        alert("deleted")
                        window.location.replace("{% url 'edit_chapters' %}")
                    }
                    else{
                        alert("something went wrong")
                    }
                }
            });
        });
    });
</script>
{% endif %}
{% endblock %}
