{% extends 'base.html' %}
{% block title %}search questions{% endblock %}
{% block heading %}search questions{% endblock %}
{% block content %}
    <div class="form" id="search_form">
        {% csrf_token %}
        {{ form.as_p }}
        <button id = "fetch" >submit</button>
    </div>
    <div id="list"></div>
{% endblock %}
{% block scripts %}
{% load static %}
<script src="{% static 'js/chained_dropdown.js' %}"></script>
<script>
    
    $("#fetch").click(function(){
        $.ajax({
            url: '/app/load_questions',
            data: {
                'chapter' : $('#id_chapter').val()
            },
            success: function(data){
                $("#list").html(data)
            }
        });
    });

</script>
{% endblock %}

