{% extends 'base.html' %}
{% block title %}SIGNUP{% endblock %}

{% block css%}
{%load static%}
<style>
        body{
            background-image: url("{% static 'images/login8.jpg'%}");
            background-repeat: no-repeat;
            background-size:cover;
            
        }
</style>

<link rel="stylesheet" href="{% static 'css/signup.css'%}">
{% endblock %}
{% block content %}
<br>
<br>
<br>

<div class="container form_container my-4 ">

        <div class="row px-2 my-4">
                 
                <img src="{% static 'images/logo_header.png'%} " class=" img-fluid mx-auto d-block" alt="Logo">
                </div>
               <div class="row ">
           <div class="col-md-6 offset-md-3">
    <form method="POST">
        {% csrf_token %}
        {% include 'include/render_forms.html' with form=user_form %}
        {% include 'include/render_forms.html' with form=profile_form %}
        <button class="btn btn-info my-2 btn-lg"type=submit>Sign up</button>
        <br>
        <br>
    </form>
    </div>
    </div>
    </div>
{% endblock %}