{% extends 'base.html' %}
{% block title %}SIGNUP{% endblock %}
{% block heading %}SIGNUP{% endblock %}
{% block content %}
<br>
<br>
<div class="container form_container ">

       <div class="row justify-content-center"> <h2>Sign up </h2></div>
       <div class="row ">
           <div class="col-md-6 offset-md-3">
    <form method="POST">
        {% csrf_token %}
        {% include 'include/render_forms.html' with form=user_form %}
        {% include 'include/render_forms.html' with form=profile_form %}
        <button class="btn btn-primary"type=submit>Sign up</button>
    </form>
    </div>
    </div>
    </div>
{% endblock %}