{% extends 'base.html' %}
{% block title %}search questions{% endblock %}
{% block css %}

  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/qlist.css' %}"
    
    
{% endblock %}




{% block content %}

<!--Grade and Class select box-->
    <div class="container my-5">

        <div class="row justify-content-center my-4">
            <h2>Search Questions</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Grade</label>
                    </div>
                    <select class="custom-select" id="class-sel"></select>
                </div> 
            </div>

            <div class="col-md-4">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Subject</label>
                    </div>
                    <select class="custom-select" id="subject-sel"></select>
                </div> 
            </div>

            <div class="col-md-4">
                    <div class="d-flex justify-content-center">
                <button type="button" id="show_chapter" class="btn btn-primary">Show Chapters</button>
                    </div>
            </div>


        
        </div>
    </div>




        <!--chapters list -->
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                    <ul class="list-group list1 ">
                    </ul>     
            </div>
            <div class="col-md-6">
                    <ul class="list-group list2">
                    </ul>
            </div>

            
        </div>

        <div class="d-flex flex-row-reverse">
            {%if isadmin %}
                <a type="button" href="{% url 'edit_chapters' %}" id="edit_chapter" class="btn btn-primary">Edit Chapters</a>
            <button type="button" id="add_chapters" class="btn btn-primary">Add Chapters</button>
            {%endif%}
        </div>  
    </div>


    <!--popover content-->
    <div class="d-none popover" data-trigger="focus"  id="popover_content">
            <div class="input-group mb-3">
                    <input type="text" class="form-control chapter_name" placeholder="Chapter Name">
                    <button type="button" class="btn btn-primary" id="add_chapter" data-toggle="modal" data-target="#exampleModal">
                            Add Chapter
                    </button>
            </div>

    </div>
    

    <!--Display Questions-->
    <div class="container my-5" >
            <table id="example" class="display">
                    <thead>
                    <tr>
                      <th>Questions</th>
                      <th>Type</th> 
                      <th>Difficulty</th>
                    </tr>
                    </thead>

                    <tbody id="tbody">

                    </tbody>
                    <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                     </tfoot>
            </table>

    </div>




{% endblock %}










{% block scripts %}


<script src="{% static 'js/get_grades_and_subjects.js' %}"></script>
<script>

    var chapter_names
    var chapter_ids
    var c_name
    $(function(){
        $("#example").hide()
        $("#add_chapters").hide();
        $("#edit_chapter").hide();


function showChapter(){
    $.ajax({
        url: '/app/load_chapters_test',
        data:{
            'grade':$('#class-sel').val(),
            'subject':$('#subject-sel').val(),
            'type': "mcq",
        },

        success:function(data){
            console.log(data);
            chapter_names=data.names;
            chapter_ids=data.ids
            $('.list1').html('');
            $('.list2').html('');
            for(i=0;i<chapter_names.length;i++)
            {
                if(i%2==0)
                $('.list1').append(`<a href="#questions" class='list-group-item list-group-item-primary list-group-item-action show_questions' id="${chapter_ids[i]}">${chapter_names[i]}</a>`)
                else
                $('.list2').append(`<a href="#questions" class='list-group-item list-group-item-secondary list-group-item-action show_questions' id="${chapter_ids[i]}" >${chapter_names[i]}</a>`)

            }



        }
    })
}
        $("#show_chapter").click(function(){
            console.log($('#class-sel').val());
            showChapter();
            $("#add_chapters").show();
            $("#edit_chapter").show();
        })


        //popover function

        $("body").popover({
            html: true, 
            title : 'Enter Chapter Name<a href="#" class="close" data-dismiss="alert">&times;</a>',
            content: function() {
                   
                    return $('#popover_content').html();
                },
            selector: "#add_chapters"
        });
        $(document).on("click", ".popover .close" , function(){
            $(this).parents(".popover").popover('hide');
        });

        


        $(document).on("click", "#add_chapter", function(event){
            c_name=$(".popover-body").find(".chapter_name").val();
            console.log(c_name);
            $.ajax({
              url: '/app/create_chapter',
              data: {
                  "ch_name":c_name,
                  "subject":$('#subject-sel').val(),
                  "grade":$('#class-sel').val()

                
              },
              success:function(data){
                  if(data.status_code==200)
                  showChapter();
                  else
                  alert("Chapter not added properly");



              }

            })
        })

        $(document).on("click", ".show_questions", function(event){
            console.log($(this).attr('id'));

            $.ajax({
                url:'/app/load_questions',
                data:{
                    'chapter':$(this).attr('id')
                },
                success:function(data){
                    $("#example").show()
                    console.log(data);
                    if ( $.fn.dataTable.isDataTable( '#example' ) ) {
                        $("#example").DataTable().destroy();
                    }
                    $("#tbody").html('');
                    $("#tbody").html(data);
                    $('#example').DataTable( {
                        initComplete: function () {
                            this.api().columns([1,2]).every( function () {
                                var column = this;
                                var select = $('<select><option value=""></option></select>')
                                    .appendTo( $(column.footer()).empty() )
                                    .on( 'change', function () {
                                        var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                        );
                 
                                        column
                                            .search( val ? '^'+val+'$' : '', true, false )
                                            .draw();
                                    } );
                 
                                column.data().unique().sort().each( function ( d, j ) {
                                    select.append( '<option value="'+d+'">'+d+'</option>' )
                                } );
                            } );
                        }
                    } );
                }

            })
        })
        
    });
    
   

    
</script>
{% endblock %}

