{% extends 'base.html' %}
{% block title %}search questions{% endblock %}
{% block css %}
{% load static %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css".3.0/j />
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'css/view_papers.css' %}"
   
{% endblock %}




{% block content %}

<br>
    <div class="container my-4">

        <div class="row justify-content-center my-4">
            <h2>Search Papers</h2>
        </div>
        <div class="row justify-content-center">
                <div class="col-md-3 offset-md-1">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text selector" style=" "for="inputGroupSelect01">Grade</label>
                            </div>
                            <select class="custom-select" id="class-sel" style=""></select>
                        </div> 
                    </div>
        

                    <div class="col-md-3">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text selector" style=""for="inputGroupSelect01">Subject</label>
                                </div>
                                <select class="custom-select" style="" id="subject-sel"></select>
                            </div> 
                        </div>

            <div class="col-md-3">

                <button type="button" id="show_papers" class="btn btn-info">Show Papers</button>
            </div>


        
        </div>
    </div>

    <div class="container table-respnsive">
        <div class="row justify-content-center">
            <div class="col-md-6">
                    <table class="table table-sm thead-dark">
                        <thead class="thead-dark" style="text-align:center">
                            <tr>
                                <th scope="col">#</th>
                                <th >Exam Heading</th>
                                <th >Exam Date</th>
                                <th >Created Date</th>
                            </tr>
                        </thead>
                        <tbody id="papers_tbody">

                        </tbody>
                    </table>    
            </div>

            
        </div>
    </div>
    <br>

    <div class="container" id="no_papers" >
        <div class="row justify-content-center">

       
    <div class="d-inline-flex p-2 ">
       <div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>No Papers Available</strong>
     </div>
    </div>
</div>
</div>
{% endblock %}










{% block scripts %}
{% load static %}

<script src="{% static 'js/get_grades_and_subjects.js' %}"></script>
<script src="{% static 'js/jquery-ajax-native.js' %}"></script>
<script>

    var papers;

    $(function(){
        //Hide Function

        $(".table").hide();
        $("#no_papers").hide();


        $("#show_papers").click(function(){
            
            $.ajax({
                url: '{% url "get_papers" %}',
                data:{
                    'grade':$('#class-sel').val(),
                    'subject':$('#subject-sel').val(),
                },

                success:function(data){

                    console.log(data);
                    if(data != 404)
                    { 
                        papers=data;
                        $("#no_papers").hide();
                        $(".table").show();
                    $('#papers_tbody').html('');
                    for(i=0;i<papers.length;i++)
                    {
                        $('#papers_tbody').append(`<tr>
                        <th scope="col">${i+1}</th>    
                        <td class = 'get_paper' style="text-align:center ;font-weight:bold"id="${papers[i].id}"><a>${papers[i].heading}</a></td>
                        <td class = 'get_paper' style="text-align:center;" id="${papers[i].id}"><a>${papers[i].date}</a></td>
                        <td class = 'get_paper' style="text-align:center;" id="${papers[i].id}"><a>${papers[i].created_date}</a></td>
                        </tr>`)

                    }
                }
                else{
                    $(".table").hide()
                    $('#papers_tbody').html('');
                    $("#no_papers").show();
                }


                }
            })
        })

        $(document).on("click", ".get_paper", function(event){
            console.log($(this).attr('id'));
            
            $.ajax({
                dataType: 'native',
                url : "{% url 'get_paper_pdf' %}",
                data : {
                    "id":$(this).attr('id'),
                },
                xhrFields: {
                    responseType: 'blob'
                },
                success: function(blob){
                    console.log(blob.size);
                    var link=document.createElement('a');
                    link.href=window.URL.createObjectURL(blob);
                    link.download="question_paper_" + new Date() + ".pdf";
                    document.body.appendChild(link);
                    link.click();
                }

            
        })
        })
        
    });
    
   

    
</script>
{% endblock %}