{% if q_type == "Match" %}
<div class="container">
    <div class="row justify-content-center">
        <div class="text centre"><h2><b>{{type_name}}</b>
        </h2></div>
    </div>

<div class="row justify-content-start">
    <div class="col-md-8">
        <ol>
               {% for match in match_list %}
                <li>
    
                <h5>{{match.question.question_text}}</h5>

                {% if match.question.image %}
                <img class="img-fluid" style="object-fit:contain; width:600px; height:400px;" src="/{{ match.question.image.url }}"/>
                {% endif %}
            
            
                    <ol type="a">
                    {% for m in match.q_and_a_list %}
            
                        <li>
                            {{m.0}}  ---  {{m.1}}
                        </li>
                    {% endfor %}
                    </ol>
                    
                    <br>
                    <p class="answer">ans:
                        {% for k in match.key_list %}
                        {{k.0}} - {{k.1}},
                        {% endfor %}
                    </p>
                    
                    </li>
            {% endfor %}


        </ol>
    </div>
</div></div>

{% else %}

<div class="container">
        <div class="row justify-content-center">
            <div class="text centre"><h2><b>{{type_name}}</b>
            </h2></div>
        </div>
<div class="row justify-content-start">
    <div class="col-md-8">
        <ol>

    {% for q in list %}
        <li>{{q.question_text}}
            {% if q.image %}
                <img class="img-fluid mx-auto d-block" src="/{{ q.image.url }}"/>
            {% endif %}
            {% if q_type == "mcq" or q_type == "fb" %}
            <ol type="a">
                {% for c in q.choice_set.all %}
                    <li>
                        {{c.choice_text}}
                    </li>
                {% endfor %}
            </ol>
            {% endif %}
            <br>
            <p class="answer">ans:
                {{q.answer}}
            </p>

        </li>
        {% endfor %}
    </ol>
    </div>
</div>
   

</div>
{% endif %}
